<h2>Filters</h2>
<app-todo-status-filter
  [status]="statusFilter$ | async"
  (statusChange)="handleStatusFilterChange($event)"
></app-todo-status-filter>
<hr>
<app-todo-add (todoAdd)="handleAddTodo($event)"></app-todo-add>

<hr>
<div
  *ngFor="let todoItem of (todoList$ | async)"
  class="my-2"
>
  <app-todo-item
    [todo]="todoItem"
    (complete)="handleCompleteTodo(todoItem)"
    (remove)="handleRemoveTodo(todoItem)"
  ></app-todo-item>
</div>

<p class="text-muted text-center" *ngIf="!(hasDisplayedTodo$ | async)">
  No result...
</p>
