<div class="card w-100">
  <div class="card-body">
    <p class="card-text">{{ todo.description }}</p>
    <button *ngIf="todo.status === TodoStatus.UNDONE" class="btn btn-sm btn-primary" (click)="handleComplete()">Complete</button>
    <button *ngIf="todo.status === TodoStatus.DONE" class="btn btn-sm btn-success">Completed</button>

    <button *ngIf="todo.status !== TodoStatus.REMOVED" class="btn btn-sm btn-danger mx-2" (click)="handleRemove()">Remove</button>
    <button *ngIf="todo.status === TodoStatus.REMOVED" class="btn btn-sm btn-danger mx-2">Removed</button>
  </div>
</div>
